/*Like*/
.fa_vote img,
.fa_voted img {
  display: none;
}
 
.fa_vote::before,
.fa_voted::before {
  font-family: FontAwesome;
  color: #fff;
  padding: 4px 4px;
  border-radius: 4px;
}
 
.fa_vote.fa_plus::before,
.fa_voted.fa_plus::before {
  content: "\f164";
  background-color: #4a0;
}
 
.fa_vote.fa_minus::before,
.fa_voted.fa_minus::before {
  content: "\f165";
  background-color: #b42000;
}
 
.fa_vote + .fa_count,
.fa_voted + .fa_count {
  background-color: #444;
  color: #fff !important;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 10px;
}
 
.fa_voted.fa_plus + .fa_count {
  background-color: #4a0;
  color: #fff;
}
 
.fa_voted.fa_minus + .fa_count {
  background-color: #b42000;
  color: #fff;
}
 
.fa_votebar {
  display: none;
}

.fa_vote img,
.fa_voted img {
  display: none;
}
 
.fa_vote::before,
.fa_voted::before {
  font-family: FontAwesome;
  color: #fff;
  padding: 4px 4px;
  border-radius: 4px;
}
 
.fa_vote.fa_plus::before,
.fa_voted.fa_plus::before {
  content: "\f164";
  background-color: #4a0;
}
 
.fa_vote.fa_minus::before,
.fa_voted.fa_minus::before {
  content: "\f165";
  background-color: #b42000;
}
 
.fa_vote + .fa_count,
.fa_voted + .fa_count {
  background-color: #444;
  color: #fff !important;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 10px;
}
 
.fa_votebar {
  display: none;
}
/*login*/
.fa-popover-login {
    transform: translate(-80%, 30px) !important;
    margin: 0 !important;
    right: 0 !important;
    width: 400px;
    padding: 0;
}
input#autologin {
    float: left;
    margin-top: 3px;
}
.fa-popover-login::before {
    right: 35px;
    left: auto;
}
 
.fa-popover-intro {
    padding: 1rem 1rem 0.5rem ;
    position: relative;
}
 
.fa-popover-intro::before {
    content: ' ';
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    height: 1px;
    background-color: #0076b1;
}
 
.fa-popover-login > form {
    color: #fff;
    margin: 0;
    border: none;
}
 
.fa-popover-login > form::before {
    content: 'Digite os dados da sua conta no formulário abaixo.';
    font-size: 12px;
    margin-bottom: 1rem;
    display: block;
}
 
.fa-popover-login > form > div.input-group {
    overflow: hidden;
}
 
.fa-popover-login > form > div.input-group > label {
    text-indent: -9999px;
    overflow: hidden;
    height: 32px;
    width: 32px;
    float: left;
    margin: 0 0 17px !important;
    background-color: #efefef;
    position: relative;
}
 
.fa-popover-login > form > div.input-group > label::after {
    display: block;
    text-indent: 0;
    font-family: FontAwesome;
    line-height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
 
.fa-popover-login > form > div.input-group > label[for="username"]::after {
    content: "\f0c0";
}
 
.fa-popover-login > form > div.input-group > label[for="password"]::after {
    content: "\f023";
}
 
.fa-popover-login > form > div.input-group > input {
    background-color: #efefef;
    float: right;
    width: calc(100% - 32px);
    margin: -1px 0 1rem;
}
 
.fa-popover-login > form > label[for="autologin"] {
    font-size: 12px;
    margin-top: 0;
    margin-left: 4px;
}
 
.fa-popover-login > form > footer {
    background-color: transparent;
    box-shadow: none;
    padding: 0 0 1rem;
    margin: 1rem 0 0;
    height: auto;
}
 
.fa-popover-login > form > footer > a {
    right: 0;
    bottom: 1rem;
    margin: 0;
    top: auto;
    transform: none;
}
/*Like*/
        .fa_vote, .fa_voted, .fa_count {
          font-size:12px;
          font-family:Verdana, Arial, Helvetica, Sans-serif;
          display:inline-block !important;
          width:auto !important;
          float:none !important;
          transition:300ms;
        }
       
        .fa_voted, .fa_vote:hover { opacity:0.4 }
        .fa_voted { cursor:default }
       
        .fa_count {
          font-weight:bold;
          margin:0 3px;
          cursor:default;
        }
       
        .fa_positive { color:#4A0 }
        .fa_negative { color:#A44 }
       
        .fa_votebar, .fa_votebar_inner {
          background:#C44;
          height:3px;
        }
       
        .fa_votebar_inner {
          background:#4A0;
          transition:300ms;
        }
/*Novidades*/
#right .mod_news .body > span:first-child {
    font-size: 12px;
}
#right .mod_news {
    border: 1px #d9d9d9 solid;
    position: relative;
}
 
#right .mod_news .main-head {
    background: #fff;
     border: none;
    color: #333;
    font-family: "Segoe UI", sans-serif !important;
    text-shadow: none;
    font-size: 24px !important;
    padding: 15px 15px 0;
    line-height: 48px;
    box-shadow: none;
    margin-bottom: 0;
    text-indent: 0;
}
 
#right .mod_news .main-content {
    border: none;
}
 
#right .mod_news .author {
    background: #fff;
    border: none;
    box-shadow: none;
    padding: 0 15px 5px;
    font-size: 11px;
    position: relative;
}
 
#right .mod_news .author::before {
    font-family: "FontAwesome";
    content: "\f017";
    margin-right: 5px;
}
 
#right .mod_news .author::after {
    position: absolute;
    background-color: #d9d9d9;
    height: 1px;
    content: ' ';
    bottom: 0;
    left: 15px;
    right: 15px;
}
 
#right .mod_news .body {
    padding: 15px;
    font-size: 0;
}
 
#right .mod_news .body > span:not(:last-of-type) {
    line-height: 18px !important;
    display: block;
    margin-bottom: 16px;
}
 
#right .mod_news .body > br {
    display: none;
}
 
#right .mod_news .comments {
    background-color: #f0f0f0;
    padding: 15px;
    border: none;
    font-size: 12px;
}
 
#right .mod_news .comments > a,
#right .mod_news .comments > a::before {
    transition: 250ms color;
}
 
#right .mod_news .comments > a::before {
    font-family: "FontAwesome";
    content: "\f086";
    font-size: 18px;
    margin-right: 5px;
    color: #333;
}
 
#right .mod_news .comments > a:hover::before,
#right .mod_news .comments > a:focus::before,
#right .mod_news .comments > a:active::before {
    color: #2ea3f2;
}
 
#right .mod_news .body > .clear ~ a {
    display: block;
    position: absolute;
    bottom: 7px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: #2ea3f2;
    color: #fff;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
    transition: 250ms background-color;
}
 
#right .mod_news .body > .clear ~ a:hover,
#right .mod_news .body > .clear ~ a:active,
#right .mod_news .body > .clear ~ a:focus {
    background: #44adf3;
}
 
#right .mod_news .body > .clear ~ a::before {
    font-family: "FontAwesome";
    content: "\f086";
    font-size: 18px;
}
/*Novidades*/
.pun .user .user-info .post_field:nth-last-child(2) br {
    display: none !important;
}
#user_navigation {
    overflow: visible !important;
}
#user_navigation > ul > li {
    position: relative;
}
.lz-dropdown-user::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #fff transparent;
    top: -8px;
    right: 8px;
}
.pun .user .user-info .post_field:nth-last-child(2)  {
    float: none !important;
}
.pun .user .user-info .post_field:nth-last-child(2) .label {
    display: block;
}
.user-info > br {
    display: none;
}
.user-info > .post_field:not(:first-child) {
    margin-top: 5px;
}
span.icon {
    padding: 0 ;
    width: 30px;
    text-align: center
}
.blourpShek_box input[type="checkbox"] {
    vertical-align: middle;
}
.lz-avatar-wrap {
    position: absolute;
    top: 0;
    left: 15px;
}
.lz-dropdown-user .lz-col-left,
.lz-dropdown-user .lz-col-right {
    line-height: 1.5rem;
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.lz-dropdown-user {
    padding-top: 13px;
    padding-left: 80px;
    height: 96px;
}
.lz-dropdown-user .lz-col-left a,
.lz-dropdown-user .lz-col-right a {
    display: block;
}
span.fa-btnYellow {
  background-color: #ffdf00 !important;
  cursor: pointer;
}
span.fa-btnGreen {
  background-color: #36a025 !important;
  cursor: pointer;
}
a.gensmall[style="color: #FF00FF"]:before {
      font-family: 'FontAwesome';
    content: "\f091  ";
}
a.gensmall[style="color: #0033FF"]:before {
      font-family: 'FontAwesome';
    content: "\f0e3  ";
}
a.gensmall[style="color: #1BC25B"]:before {
      font-family: 'FontAwesome';
    content: "\f085  ";
}
a.gensmall[style="color: #5B00E3"]:before {
      font-family: 'FontAwesome';
    content: "\f1fc  ";
}
a.gensmall[style="color: #00FFEA"]:before {
      font-family: 'FontAwesome';
    content: "\f219  ";
}
a.gensmall[style="color: #7A7A7A"]:before {
      font-family: 'FontAwesome';
    content: "\f007  ";
}
.socio:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.socio {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #00FFEA url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.ds:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.ds {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #5B00E3 url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.mod:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.mod {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #1BC25B url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.member:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.member {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #7A7A7A url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.sub:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.sub {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #FF00FF url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.adm:before {
        content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.adm {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #0033FF url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.dono:before {
    content: "UL";
    padding: 0vw 1vw 0vw 1vw;
    margin: 0vw 0vw 0vw 0vw;
    border-right: 1px solid #e5e5e5;
    float: left;
}
.dono {
    box-shadow: 1px 2px 11px rgba(0,0,0,0.29);
    background: #E30000 url(https://i11.servimg.com/u/f11/16/48/51/40/shine11.png) repeat-x scroll 50% 50%!important;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 13px;
    margin: -1.7vw 3.8vw auto;
    padding: 0.6vw;
    text-align: center;
    text-shadow: 1px 0px 1px #171717;
    border-right: solid 1px rgba(53, 53, 53, 0.53);
    border-bottom: solid 1px rgba(53, 53, 53, 0.53);
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    background-size: 100%;
    float: left;
    width: 11.5vw;
}
.pun .user .user-info .post_field:nth-last-child(2) img {
    background: rgba(121, 121, 121, 0.1);
    border-bottom: 2px solid #d3d3d3;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    height: 40px;
    margin-bottom: 5px;
    padding: 1px;
    vertical-align: middle;
    width: 40px;
}
.sig-content:before {
    background: #2ea3f2;
    border: 1px solid #2b8dd0;
    border-bottom: 3px solid #2a76a9;
    border-radius: 4px;
    color: #fff;
    content: "Assinatura Ultimate Life - RP";
    display: inline-block;
    font-size: 11px;
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 99%;
}
body div .pun .postmain {
  width: 78%;
  margin-left: 22%!important;
  margin-top: 90px!important;
  border: solid 0px !important;
  border-color: transparent!important;
  border: solid 1px #bdbdbd!important;
}
 
body div .pun .post {
  position: relative!important;
  border: solid 1px #bdbdbd!important;
  border-radius: 3px !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
}
 
body div .pun .post .posthead {
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0px!important;
    border: solid 0px !important;
    border-bottom: 2px solid #2ea3f2!important;
    padding: 30px;
    padding-left: 22%;
}
 
body div .pun .post .postmain .postbody {
  border: solid 0px !important;
  border-color: transparent!important;
}
 
body div .pun .post .postmain .postbody .post-entry {
  border: solid 0px !important;
  border-color: transparent!important;
}
 
body div .pun .post .user {
  position: relative!important;
  margin: -53px!important;
  margin-left: -6px!important;
  width: 22%!important;
  border: solid 0px !important;
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .posthead span.date-time {
  margin-left: 10px;
  display: block;
}
 
body div .pun .post .posthead span.date-time:before {
  content: "Postado ";
}
 
body div .pun .post .posthead a {
  display: block;
  margin-left: 10px;
}
 
body div .pun .postfoot {
  position: relative;
}
 
body div .pun .user-ident {
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .user h4.username {
background-color: transparent!important;
    border: solid 0px !important;
    box-shadow: none!important;
    position: relative;
    top: 225px;
}
 
body div .pun .post .user .user-basic-info {
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .user .user-basic-info img[alt="avatar"] {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3);
    background-color: transparent !important;
    border-radius: 99em;
    width: 150px;
    height: 150px;
    margin-bottom: 60px!important;
}
#main > div.main.paged > div.main-content.topic > div.post > div.user > div.user-ident > div > a > img {
box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.3);
    background-color: transparent !important;
    border-radius: 99em;
    width: 150px;
    height: 150px;
    margin-bottom: 60px!important;}
body div .pun form .post .postmain { margin: 0px!important; width: 100%;}
form.frm-form .post .postmain .postbody { margin-top: 73px;}
form.frm-form .post .postmain .postbody span.username {opacity: 0;}
html body div .pun form[action^="/privmsg"] div.user-basic-info > img:first-child {position: relative; top: -54px!important;}
form.frm-form[action^="/privmsg"] .post .postmain .postbody span.username {opacity: 1!important; position: relative; top: 153px; background: none!important; border: none!important;}
body div div div div div.lz-005 .post {}
 
body div div div div.lz-005 .post .postmain {
  margin: 20px 0px!important;
  width: 100%;
  overflow: hidden;
}
 
body div div div div.lz-005 .post .postbody {
  margin-top: 128px!important;
}
 
body div div div div.lz-005 .post .postmain span.username {
  border: none!important;
  background-color: transparent!important;
  border-right: solid 1px #39c!important;
  border-bottom: solid 1px #39c!important;
  border-radius: 0 0 3px 0;
}
 
body div div div div.lz-005 .post .postmain span.username:before {content: 'Por: ';color: #555;font-weight: normal;}
 
body div div div div.lz-005 .post .posthead h2 {
  text-transform: capitalize;
  margin-left: -212px;
}
/* CHATBOX */
#chatbox_header.main-head {
    background: #2ea3f2 url(http://i.imgur.com/CcLIuMn.png);
    border-radius: 2px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.1);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 25px;
    margin-bottom: 4px;
    padding: 0;
    text-indent: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.chatbox-title {
    float: left;
    margin: 0;
    padding: 2px 5px 0;
    width: 15em;
}
.chatbox-options {
    float: right;
    font-size: 11px;
    list-style: none;
    margin: .7em .5em .5em;
}
.chatbox-options li, .chatbox-options li a, .chatbox-options li label {
    color: #fff;
    line-height: 14px;
    font-size: 11px;
}
#chatbox img {
    max-width: 80px;
    max-height: 80px;
}
#chatbox_members {
    background: #fff;
    border: 1px solid #eee;
    bottom: 30px;
    color: #333;
    overflow: auto;
    position: absolute;
    top: 32px;
    width: 180px;
    margin-top: 1px;
    border-radius: 3px 0;
}
#chatbox_members .member-title {
    background: #2ea3f2 url(http://i.imgur.com/CcLIuMn.png);
    border-radius: 2px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.1);
    color: #fff;
    font-family: segoe ui;
    font-size: 12px;
    padding: 7px 7px 9px;
    text-indent: 4px;
    line-height: 14px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-transform: capitalize;
    margin: 4px;
    text-align: left;
}
#chatbox {
    background: #fff;
    bottom: 30px;
    left: 181px;
    line-height: 10px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 30px;
    border: 1px solid #eee;
    margin-top: 3px;
    border-radius: 0 3px 0;
}
.chatbox-title, .chatbox-title a.chat-title {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
#chatbox > p span.user > span none {
  content: '@'; 
}
#chatbox > p span.user > span:after {
  content: '';
}
#chatbox p {
    line-height: 1.2em;
    margin: 4px;
    padding: 7px 7px 8px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    color: #000;
    font-family: segoe ui;
}
#chatbox .date-and-time{
    float: right;
    color: #777;
    text-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#chatbox_footer {
    background: #fafafa;
    border: 1px solid #eee;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    padding: 0 0 3px;
    border-radius: 0 0 3px 3px;
}
#chatbox .user{display:inline-flex;}
#chatbox .msg {
    word-wrap: break-word;
}
label[for="message"] {
    display: none;
}
#chatbox_contextmenu {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2)!important;
    border-radius: 1px;
    padding: 2px;
}
#chatbox_contextmenu p {
    background: #fff;
    font-family: segoe ui;
    margin: 0;
    padding: 1px 20px 1px 3px;
    border-bottom: 0;
}
#chatbox_contextmenu p.cb-menu-item:hover {
    background: #fff!important;
}
.cb-menu-title {
    background: #2ea3f2 url(http://i.imgur.com/CcLIuMn.png)!important;
    font-weight: 500!important;
    color: #fff!important;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.1);
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 2px!important;
}
.cb-menu-close {
    color: #FFF!important;
    font-size: 16px!important;
    margin-right: 4px;
    margin-top: -2px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#chatbox_contextmenu a {
    color: #555;
    font-size: 95%;
    text-decoration: none;
}
#chatbox_contextmenu a:hover {
    color: #2ea3f2;
}
#message {
    -moz-box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
    -webkit-box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    box-shadow: inset rgba(0,0,0,0.1) 0 1px 3px;
    height: 25px!important;
    margin-right: 5px;
    margin-top: 3px!important;
    width: 350px!important;
    outline: none;
    text-indent: 10px;
    font-size: 12px;
}
#submit_button {
    background: #2ea3f2 url(http://i.imgur.com/CcLIuMn.png);
    border: 0!important;
    border-radius: 2px!important;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,.1)!important;
    color: #fff;
    font-size: 12px;
    height: 25px!important;
    padding: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    width: auto!important;
    outline: none;
}
#chatbox_messenger_form {margin: 0!important;}
