body div .pun .postmain {
  width: 78%;
  margin-left: 22%!important;
  margin-top: 90px!important;
  border: solid 0px !important;
  border-color: transparent!important;
  border: solid 1px #bdbdbd!important;
}
 
body div .pun .post {
  position: relative!important;
  border: solid 1px #bdbdbd!important;
  border-radius: 3px !important;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
}
 
body div .pun .post .posthead {
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0px!important;
    border: solid 0px !important;
    border-bottom: solid 1px #2ea3f2!important;
    padding: 30px;
    padding-left: 22%;
}
 
body div .pun .post .postmain .postbody {
  border: solid 0px !important;
  border-color: transparent!important;
}
 
body div .pun .post .postmain .postbody .post-entry {
  border: solid 0px !important;
  border-color: transparent!important;
}
 
body div .pun .post .user {
  position: relative!important;
  margin: -53px!important;
  margin-left: -6px!important;
  width: 22%!important;
  border: solid 0px !important;
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .posthead span.date-time {
  margin-left: 10px;
  display: block;
}
 
body div .pun .post .posthead span.date-time:before {
  content: "Postado ";
}
 
body div .pun .post .posthead a {
  display: block;
  margin-left: 10px;
}
 
body div .pun .postfoot {
  position: relative;
}
 
body div .pun .user-ident {
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .user h4.username {
background-color: transparent!important;
    border: solid 0px !important;
    box-shadow: none!important;
    position: relative;
    top: 220px;
}
 
body div .pun .post .user .user-basic-info {
  background-color: transparent!important;
  border: solid 0px !important;
}
 
body div .pun .post .user .user-basic-info img[alt="avatar"] {
    background-color: #2ea3f2!important;
    border: solid 1px !important;
    border-radius: 99em;
    width: 150px;
    height: 150px;
    margin-bottom: 60px!important;
}
#main > div.main.paged > div.main-content.topic > div.post > div.user > div.user-ident > div > a > img {
  background-color: #f7f7f7!important;
  border: 1px solid #2ea3f2!important;
  border-radius: 99em;
  width: 150px;
  height: 150px;
  margin-bottom: 60px!important;}
body div .pun form .post .postmain { margin: 0px!important; width: 100%;}
form.frm-form .post .postmain .postbody { margin-top: 73px;}
form.frm-form .post .postmain .postbody span.username {opacity: 0;}
html body div .pun form[action^="/privmsg"] div.user-basic-info > img:first-child {position: relative; top: -54px!important;}
form.frm-form[action^="/privmsg"] .post .postmain .postbody span.username {opacity: 1!important; position: relative; top: 153px; background: none!important; border: none!important;}
body div div div div div.lz-005 .post {}
 
body div div div div.lz-005 .post .postmain {
  margin: 20px 0px!important;
  width: 100%;
  overflow: hidden;
}
 
body div div div div.lz-005 .post .postbody {
  margin-top: 128px!important;
}
 
body div div div div.lz-005 .post .postmain span.username {
  border: none!important;
  background-color: transparent!important;
  border-right: solid 1px #39c!important;
  border-bottom: solid 1px #39c!important;
  border-radius: 0 0 3px 0;
}
 
body div div div div.lz-005 .post .postmain span.username:before {content: 'Por: ';color: #555;font-weight: normal;}
 
body div div div div.lz-005 .post .posthead h2 {
  text-transform: capitalize;
  margin-left: -212px;
}
div#primary_nav {
  background: rgba(255,255,255,0.1) url(http://i.imgur.com/CcLIuMn.png) repeat 50% 50%;
  box-shadow: inset rgba(255,255,255,0.1) 0px 0px 0px 1px, inset rgba(255,255,255,0.3) 0px 1px 0px, rgba(0, 0, 0, 0.49) 0px 1px 2px;
  border-radius: 3px;
  position: relative;
  margin: 15px 0px;
  max-height: 60px;
  padding: 0px 10px;
}
 
div#primary_nav ul li a {
  padding: 20px;
  display: inline-block;
  font-size: 14px;
  color: rgba(255,255,255,1);
  text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
  transition: all 0.15s ease-in-out;
  text-transform: uppercase;
}
 
div#primary_nav * {
  font-size: 0px;
}
 
body {
  background: #fff url(http://i.imgur.com/0B5lrds.png);
}
 
.pun {
  border-top: none!important;
}
 
div#branding {
  border-bottom: solid 2px #2ea3f2;
}
 
div#primary_nav ul li a:hover {
  color: rgba(255,255,255,1);
}
 
div#primary_nav ul li:before, div#primary_nav ul li:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: -8px;
  right: 40px;
  background: url(http://ipsfocus.net/4x/uploads/set_resources_133/005d20f304c7929cbfdb3fe61d088022_nav-hover.png) no-repeat;
  background-position: 0 50%;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.25s, 0.25s;
  transition-delay: 0.25s, 0s;
  transition-timing-function: ease-in-out;
  transform: scaleY(0) translate(0,0);
  transform-origin: 100% 50%;
}
 
div#primary_nav ul li:hover:before, div#primary_nav ul li:hover:after {
  opacity: 1;
  transform: scaleY(1) translate(0,0);
  transition-delay: 0s, 0s;
}
 
div#primary_nav ul li:hover {
  z-index: 98989889;
}
 
div#primary_nav ul li {
  vertical-align: top;
  transform: translate(0,0);
  position: relative;
}
 
div#primary_nav ul li:after {
  left: auto;
  right: -8px;
  width: 48px;
  background-position: 100% 50%;
  transform-origin: 0% 50%;
}
